<h1>Pets You've Matched {{{pets_number}}}</h1>
{{#each projects as |project| }}
<div class="row">
  <div class="col-6 col-md-4">
    <h2>
      {{{pets_photo}}}
      {{!-- picture referance ie --}}
      {{!-- <a href="/project/{{project.id}}">{{project.name}}</a> --}}
      {{{pets_name}}}
    </h2>
  </div>
</div>
{{/each}}
