<div class="container-fluid pt-3 pb-3">
  {{#if loggedIn}}
  {{#if pets}}<h1>You've Matched {{{pets_number}}} Pets!</h1>
  <div class="row">
    {{#each pets as |pet| }}
    <div class="col-6 col-md-4">
        <a class="logo" href="#" data-bs-toggle="modal" data-bs-target="#petModal{{pet.id}}">
        <div class="card">
          <img src="{{pet.photo}}" alt="{{pet.name}}">
          <div class="card-body text-center">
            <h2>
            {{pet.name}}
            </h2>
          </div>
        </div>
        </a>
    </div>
    <div class="modal fade" id="petModal{{pet.id}}" tabindex="-1" aria-labelledby="petModal{{pet.id}}Label"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="petModal{{pet.id}}Label">{{pet.name}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="{{pet.photo}}" alt="{{pet.name}}">
              </div>
            </div>
          </div>
          
          <div class="modal-footer justify-content-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="/meet/{{pet.id}}">
              <button class="btn btn-primary">Schedule a visit with {{pet.name}}</button>
              </a>
          </div>          
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
  {{else}}<h1>Sorry, You Haven't matched any of the Pets. &#128546;</h1><br>        
    <a href="/user">Click here to go back to your profile</a>
    <p><br></p>
  {{/if}}
  {{else}}
<div class="row">
    {{#each pets as |pet| }}
    <div class="col-6 col-md-4">
      <h2>
        <div class="card">
          <img src="{{pet.photo}}" alt="{{pet.name}}">
          <div class="card-body text-center">
            <a href="#" data-bs-toggle="modal" data-bs-target="#petModal{{pet.id}}">{{pet.name}}</a>
          </div>
        </div>
      </h2>
    </div>
    <div class="modal fade" id="petModal{{pet.id}}" tabindex="-1" aria-labelledby="petModal{{pet.id}}Label"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="petModal{{pet.id}}Label">{{pet.name}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="{{pet.photo}}" alt="{{pet.name}}">
              </div>
            </div>
          </div>
          
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>          
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
  {{/if}}
  