<main class="container-fluid px-0" style="overflow: hidden;">
  <div class="d-flex flex-column align-items-center justify-content-center page">
    {{#if loggedIn}}
    <div class="text-box p-5 dash-box">
      <div class="row">
        <div class="col-7 mx-2 my-5">
          <h2>Welcome to your dashboard!</h2>
          <h3>Signed in as: {{email}}</h3>
          </br>
          <h3>Appointments:</h3>
          <ul>
            {{#if appointments}}
            {{#each appointments}}
            <li>Appointment on {{this.date}} with {{this.petName}}</li>
            {{/each}}
            {{else}}
            <li><span>You don't have any upcoming appointments. Schedule one <a href="/pets">here.</a></span></li>
            {{/if}}
          </ul>
          </br>
          <h3>Preferences</h3>
          <ul>
            <li>Species: {{species_preference}}</li>
            <li>Hypoallergenic: {{allergy_preference}}</li>
            <li>Good with Kids: {{kids_preference}}</li>
          </ul>
          <a href="/new-login">Want to change your preferences? Click here.</a>
        </div>
        <div class="col-4 mx-2 my-5">
          <div class="pfp-container">
            <img src="https://isobarscience.com/wp-content/uploads/2020/09/default-profile-picture1.jpg">
          </div>
          <div class="d-flex justify-content-center align-items-end mt-5">
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal">
              <button id="delete-btn" class="btn btn-secondary">Delete Account</button>
            </a>
          </div>
        </div>
      </div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered d-flex justify-content-center">
    <div class="modal-content mod-container">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="deleteModalLabel">Are you sure you want to delete your account?</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-secondary" id="confirmDelete">Yes</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>



    </div>
  </div>
  {{else}}
  <div class="text-box p-5 dash-box">
    <div class="col-8 mx-2 my-5">
      <h2>Welcome to PetsRUS!</h2>
      <h3><span>You are not signed in. Sign in <a href="/signin">here.</a></span></h3>
      </br>
    </div>
  </div>
  </div>
  {{/if}}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/accountLoad.js"></script>